.button_green{
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #ffffff !important;
    color: #006089 !important;
    border: 2px solid #b5b5b5 !important;
    border-radius: 9px !important;
    font-size: 17px !important;
    padding: 5px 52px !important;
    transition: all 0.4s ease !important;
}
.button_green:hover{
    text-decoration: none !important;
    background-color: #28a745 !important;
    color: #ffffff !important;
    border-color: #28a745 !important;
}